* {
   background-color: transparent;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(45deg, rgba(35, 29, 82, 0.8), rgba(105, 99, 147, 0.8));
  padding: 20px;
}

 
 .navbar h1 {
   margin-left: 30px;
   color: #ebebeb;
 }
 
 .navbar ul {
   display: flex;
   list-style: none;
   margin-right: 30px;
   padding: 0;
 }
 
 .navbar li {
   margin-left: 20px;
 }

 .navbar button {
   background-color: #9E4784;
   border-radius: 30px;
   border: none;
   padding: 10px 20px;
   margin-left: 20px;
 }

 .navbar button:hover {
   background-color: #70305d;
   border-radius: 30px;
   border: none;
   padding: 10px 20px;
   margin-left: 20px;
 }
 
 .navbar li:first-child {
   margin-left: 0;
 }
 
 .navbar li button {
   text-decoration: none;
   color: #ebebeb;
   font-weight: bold;
   margin-left: 10px;
 }
 .navbar li i {
   color: #ebebeb;
   margin-right: 15px;
 }
 