h1 {
   text-align: center;
   margin: 50px;
   text-transform: uppercase;
}
table {
   width: 97%;
   border-collapse: collapse;
   margin: auto;
 }

 th, td {
   padding: 8px;
   text-align: center;
   border: 1px solid #818181;
   background-color: #f1f1f1;
 }

 th {
   background-color: #453f75;
   color: #f1f1f1;
   padding-top: 10px;
   padding-bottom: 10px;
 }

 .nama {
  text-align: left;
 }

 button {
   padding: 5px 10px;
   background-color: #4CAF50;
   color: white;
   border: none;
   cursor: pointer;
   border-radius: 3px;
 }

 button:hover {
   background-color: #45a049;
 }
 .delete {
   background-color: #f05c4e;
   color: white;
   margin-left: 10px;
 }

 .delete:hover {
   background-color: #a04545;
 }

 @media only screen and (max-width: 600px) {
  table {
    font-size: 12px;
  }

  .nama {
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
  }

  button {
    font-size: 10px;
  }

  .delete {
    display: block;
    margin-top: 5px;
  }
}