h1 {
   text-align: center;
   margin: 50px;
   text-transform: uppercase;
   color: #f1f1f1;
}
table {
   width: 97%;
   border-collapse: collapse;
   margin: auto;
 }

 th, td {
   padding: 8px;
   text-align: center;
   border: 1px solid #f1f1f15b;
   background-color: rgba(237, 234, 255, 0.7);
 }

 th {
  background-color: rgba(114, 103, 179, 0.5);
  color: #f1f1f1;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

 .nama {
  text-align: left;
 }

 .action {
  display: flex;
  flex-direction: row;
 }


 button {
   padding: 8px 15px;
   background-color: #4CAF50;
   color: white;
   border: none;
   cursor: pointer;
   border-radius: 20px;
   font-size: medium;
   margin: 5px;
   width: 100px;
 }

 button:hover {
   background-color: #45a049;
 }
 .delete {
   background-color: #f05c4e;
   color: white;
 }

 .delete:hover {
   background-color: #a04545;
 }

 @media only screen and (max-width: 600px) {
  table {
    font-size: 12px;
  }

  .nama {
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
  }

  button {
    font-size: 10px;
  }

  .delete {
    display: block;
    margin-top: 5px;
  }
}